*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1{
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.container{
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px;
    
}

.container .input-box{
    width: 100%;
    height: 40px;
    margin: 30px 0;
    margin-bottom: 40px;
}

.input-box input{
    width: 100%;
    height: 100%;
    border: 2px solid #a5a5a5;
    border-radius: 5px;
    font-size: 14px;
    padding: 20px 20px 20px 10px;
}

.input-box input::placeholder{
    color:#a5a5a5;
    font-weight: 600;

}
/* Start Date and Number */
label{
    display: block;
    color: #1e2027;
    font-weight: 500;
}

.left-right{
    display: flex;
}

.left{
    width: 100%;
    height: 40px;
    margin: 30px 0;
}

.left input{
    width: 98%;
    height: 100%;
    border: 2px solid #a5a5a5;
    border-radius: 5px;
    font-size: 14px;
    padding: 20px 20px 20px 10px;
}

.right{
    width: 100%;
    height: 40px;
    margin: 30px 0;
}

.right input{
    width: 100%;
    height: 100%;
    border: 2px solid #a5a5a5;
    border-radius: 5px;
    font-size: 14px;
    padding: 20px 20px 20px 10px;
}
/* End Date and Number */

.gender{
    display: flex;
    gap: 5px;
}

.gender .fr{
    margin-left: 50px;
}

select{
    width: 98%;
    height: 100%;
    border: 2px solid #a5a5a5;
    border-radius: 5px;
    font-size: 14px;
    padding: 20px 20px 20px 10px;
    color: #1e2027;
}

.btn{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(46, 123, 211);
    color: #fff;
    font-weight: 500;
}

